.root {
    -fx-background-color: #ffffff;
}

#searchButton {
    -fx-background-color: blue;
    -fx-border-color: blue;
    -fx-border-width: 1px;
    -fx-text-fill: white; 
    -fx-cursor: hand;
}

#button{
    -fx-border-radius: 50px;
    -fx-text-fill: rgb(0, 0, 0); 
    -fx-cursor: hand;
}